@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

@tailwind components;
@tailwind utilities;
@tailwind base;

.news-detail {
  & img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin: 20px 0;
  }
  & h1 {
    font-size: xx-large;
    background-color: aqua;
    border-left: solid 5px slateblue;
    margin: 5px 0;
    padding-left: 10px;
  }
}

.typing-effect1 {
  width: 5ch;
  animation:
    typing 2s steps(5),
    effect 1s step-end 2s 1 alternate forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.02em solid black;
  font-family: monospace;
  font-size: 4.5em;
}
.typing-effect2 {
  width: 10ch;
  animation:
    typing 3s steps(10),
    effect 1s step-end 4 alternate;
  animation-fill-mode: both;
  animation-delay: 3s;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.02em solid black;
  font-family: monospace;
  font-size: 4.5em;
}
.typing-effect3 {
  width: 11ch;
  animation:
    typing 2s steps(11),
    effect 0.75s step-end infinite alternate;
  animation-fill-mode: both;
  animation-delay: 7.5s;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.02em solid black;
  font-family: monospace;
  font-size: 4.5em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes effect {
  0% {
    border-color: transparent;
  } /*消滅*/
  50% {
    border-color: black;
  } /*出現*/
  100% {
    border-color: transparent;
  } /*消滅*/
}
