@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

@tailwind components;
@tailwind utilities;
@tailwind base;

/* img{
  width: 50%;
  height: 50%;
  object-fit: cover;
  margin: 0 auto;
}

p {
  margin: 7px;
} */
